<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <if condition='isDefined("ENVIRONMENT")'>
        <then>
            <if condition='property("ENVIRONMENT").equalsIgnoreCase("local")'>
                <then>
                    <include resource="default-console.xml"/>
                    <include resource="default-file.xml"/>
                    <include resource="default-graylog.xml"/>
                </then>
                <else>
                    <include resource="default-file.xml"/>
                </else>
            </if>
        </then>
        <else>
            <include resource="org/springframework/boot/logging/logback/base.xml"/>
        </else>
    </if>

</configuration>